/* Define um container geral ocupando 100% da tela */
.general-container {
    display: flex;
    flex-direction: row;
    width: 99vw;
    height: 100vh;
    padding: 10px;
    box-sizing: border-box;
    background-color: aliceblue;
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 29%, rgba(0,212,255,1) 100%) */
}

/* CSV Table: Alinhado à direita ocupando 30% da largura da tela */
.csv-table {
    width: 30%;
    overflow: auto;
    max-height: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    background: #f9f9f9;
}

/* Container para os gráficos, ocupando 70% da largura */
.chart-container {
    display: flex;
    flex-direction: column;
    width: 97%;
    gap: 10px;
    padding-left: 20px;
    margin-right: 10px;
}

/* Container superior dividindo SerieSpeedColumn e Wind Rose */
.chart-top {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 10px;
}

/* SerieSpeedColumn e Wind Rose lado a lado */
.chart-column, .wind-rose, .new-chart{
    width: 100%;
    flex: 1;
    min-width: 0;
    border: 1px ; 
    border-radius: 1%;
    padding: 10px;
    border: blue solid 1px;
    /* background: linear-gradient(90deg, rgba(90,111,214,1) 0%, rgba(135,163,255,0.7987570028011204) 18%); */
}

/* SerieSpeedLine abaixo dos outros elementos */
.chart-line {
    flex: 1;
    width: 98%;
    border: 1px;
    padding: 12.5px;
    background: #ffffff;
    border-radius: 1%;
    border: blue solid 1px;
    /* background: linear-gradient(90deg, rgba(90,111,214,1) 0%, rgba(135,163,255,0.7987570028011204) 18%); */
}
